@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

body {
    font: 1.15em "Source Sans Pro", sans-serif;
    color: #333;
}

h1 {
    text-align: center;
    border-bottom: 2px dashed #a00;
}

h2 {
    background: #fdb;
    padding: 5px 5px 5px 20px;
    cursor: pointer;
    border: 1px solid #a00;
}

h3 {
    color: #a00;
}

.ex_repeat {
    margin-right: 10px;
}

.ex_li {
    list-style-type: none;
    background: #ddf;
    margin-bottom: 5px;
}
.ex_repeat {
    background: #005;
    color: #fff;
    display: inline-block;
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 50px;
}

.structure_content {
    padding-left: 40px; /* Default ul padding. */
}

table{
    width: 100%;
    border-collapse:separate;
    border-spacing: 0 5px;
}
th {
    background: #800;
    color: #fff;
    text-align: center;
    padding: 0px 0px 0px 0px;
    width: 50px;
}

td {
    background: #fcc;
    padding-left: 10px;
}
