body {
    font-family: Roboto;
    background: #FFF5ED;
}

h1 {
    text-align: center;
    color: #412722;
}

h2 {
    padding: 5px 5px 5px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2.even {
    color: #412722;
    background: #EEE0CB;
}

h2.odd {
    color: #412722;
    background : #DCCABA;
}

h3 {
    color: #db504a;
}

.ex_repeat {
    margin-right: 10px;
}

.ex_ul {
    padding-left: 0px;
}

.ex_li {
    list-style-type: none;
    margin-bottom: 5px;
    background: #EEE0CB;
}
.ex_repeat {
    color: #fff;
    background: #412722;
    display: inline-block;
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 60px;
}

.structure_content {
    padding-left: 0px;
}

table{
    width: 100%;
    border-collapse:separate;
    border-spacing: 0 5px;
    margin-bottom: 25px;
}
th {
    background: #412722;
    color: #fff;
    text-align: center;
    padding: 0px 0px 0px 0px;
    width: 60px;
}

td {
    background : #DCCABA;
    padding-left: 10px;
}
